#logo{
    height: 5em;
    width: 10em;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

/* .nav-link:active{
    text-decoration: none;
    color: unset !important;
} */

nav {
    /* background-color: #6c534f; */
}


  